#fixed
	%button.start_campaign Start a Campaign

	%a.facebook{ :href => 'https://www.facebook.com/HeadCountOrg', :target => '_blank' }
		= image_tag 'facebook.png'
	%a.twitter{ :href => 'https://twitter.com/headcountorg', :target => '_blank' }
		= image_tag 'twitter_dark.png'
	%a.menu{ :href => '#'} &#9776;
