%meta{ :property => 'og:title', :content => @og_title || '#SoundOff @ Congress' }

%meta{ :property => 'og:image', :content => @og_image || (ENV['BASE_DOMAIN'] || '')+asset_path( 'opengraph_default.png') }

%meta{ :property => 'og:url', :content => (ENV['BASE_DOMAIN'] || '') + request.path }

%meta{ :property => 'og:type', :content => 'website' }

%meta{ :property => 'og:description', :content => @og_description || '#SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in goverment.' }


%link{ :rel => "shortcut icon", :href => asset_path( 'icon.png' ) }

%meta{ :name => "twitter:card", :content => "summary" }
%meta{ :name => "twitter:domain", :content => ENV['BASE_DOMAIN'] }
%meta{ :name => "twitter:site", :content => "@headcountorg" }
%meta{ :name => "twitter:title", :content => @og_title || '#SoundOff @ Congress' }
%meta{ :name => "twitter:description", :content => @og_description || '#SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in goverment.' }
%meta{ :name => "twitter:image", :content => @og_image || (ENV['BASE_DOMAIN'] || '')+asset_path( 'sq_icon.jpg' ) }

%meta{ :name => "msvalidate.01", :content => "F653AD6F28D90E69CAFBCFDDF907C210" }
%meta{ :name => "google-site-verification", :content => "yVohaDCcTa_KrjBAsVx_LdCQNP_2wGkyot8ISIX5ZZI" }