%meta{ :property => 'og:title', :value => @og_title || '#SoundOff @ Congress' }

%meta{ :property => 'og:image', :value => @og_image || asset_path( 'opengraph_default.png') }

%meta{ :property => 'og:description', :value => @og_description || '#SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in goverment.' }


%link{ :rel => "shortcut icon", :href => asset_path( 'icon.png' ) }