#top
	= image_tag asset_path('logo.png')

	#description
		%h1 Tweet @ the Right People.
		%p 
			Speak Up! We'll make sure your voice reaches the right
			%br
			people by directing your tweets directly to the decision
			%br
			makers on issues that matter to you

		%button{ :class => 'get_started' } Get Started

#footer
	.disclaimer
		%p
			:plain
				SoundOff is an advocacy tool created and maintained by HeadCount.org, for the purpose of encouraging citizens to play an active role in goverment. This tool is available to all organizations and individuals regardless of their beliefs or affilations, so long as they comply with the Terms of Service. HeadCount does not endorse, censor or take responsiblity for any of the content of any campaign using this service, Organizations or individuals using this service do so independently and with no affiliation with HeadCount.

	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link
	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link
	.column
		%p
			%a Link
		%p
			%a Link
		%p
			%a Link

	.column
		= image_tag asset_path('headcount.png')
#main
	#menu
		%h2
			ScoreBoard
			|
			Elected Official
	#content