%table
	%tr
		- [ "screen name", "message", "tweet date",'tweet link', "hashtags","mentions"].each do |label|
			%th= label
	- @statuses.each do |soundoff|
		%tr
			- [soundoff.screen_name,soundoff.message,soundoff.tweet_date,("https://twitter.com/"+soundoff.screen_name+"/status/"+soundoff.tweet_id rescue ''),soundoff.data['entities']['hashtags'].map{|r| r['text'] }.join(', '), soundoff.data['entities']['user_mentions'].map{|r| r['screen_name'] }.join(', ')].each do |line|
				%td= line
