%h1 About

#content
	%h3
		SoundOff makes  it easy to tweet at elected officials.
		It’s a free, online advocacy tool developed by
		%a{ :href => 'http://headcount.org' } HeadCount.org

	%h2 WHO WE ARE:

	%p HeadCount is a nonpartisan organization that has registered 250,000 voters and rallied millions to be informed, active citizens – primarily through our work with musicians. We use culture, technology, and grassroots organizing to drive civic participation.

	%h2 WHY WE CREATED SOUNDOFF

	%p Social media is the number one forum for political, but very little of that discussion reaches people in power. By directing the conversation at elected officials, we can make Twitter a potent tool to influence policy.

	%h2 HOW TO USE SOUNDOFF

	%p If you want to SoundOff at Congress on any issue, just visit our campaign page and select a campaign. Or, Sound Off on any issue you’d like just by hitting “Rep” and SoundOff will get your tweet to the right elected official. Want to run your own campaign? Click “Start a Campaign”. You’ll receive a link to your campaign and the code for an embeddable widget. If you’re from a 501(c)3 or 501(c)4 non-profit organization, you also can collect user email addresses.

	%h2 LET THE MUSIC PLAY

	%p At HeadCount, we believe music has unrivaled power to stir people’s souls and rally communities. So, of course, we’re looking to musicians and their fans to help get this off the ground. Check out this Facebook album (LINK TO BE ADDED) of musicians who are sounding off on their issues of choice.

	%h2 THE BIG PICTURE:

	%p Twitter and other social media platforms are great places to let elected officials know how voters feel. With SoundOff, HeadCount aims to make this so easy, it becomes the norm.

	%pThe public nature of Twitter and social media can create transparency. It can put faces and voices behind popular movements. It can unleash citizen power (yeah!!!). Through SoundOff, we can bring every advocacy organization, any concerned citizen and every member of Congress into a national conversation. So let’s SoundOff!

	= link_to image_tag( 'headcount.png', :style => 'margin: 40px auto; display: block; width: auto'), 'http://headcount.org'
