%h1 Contact

#content
	%p 
		SoundOff is a free advocacy tool powered by HeadCount.org
	%p 
		Want to get in touch? e-mail us at 
		%a{ :href => 'mailto:soundOff@HeadCount.org' }SoundOff@HeadCount.org
	%p
		For more information about HeadCount or to contact someone on our team directly, please visit 
		%a{ :href=> 'http://headcount.org' } HeadCount.org

	= link_to image_tag( 'headcount.png', :style => 'margin: 0 auto; display: block; width: auto'), 'http://headcount.org'
