%h1 Press Inquiries

#content
	%h3 
		Please contact Drew Granchelli at 
		%a{ :href => 'mailto:DrewG@HeadCount.org' } DrewG@HeadCount.org

	%p 
		For more information about HeadCount, please visit the 
		%a{ :href => 'http://www.headcount.org/press-center/'} HeadCount Press Center 
		or 
		%a{ :href => 'http://www.headcount.org/in-the-news/' } HeadCount In the News

	= link_to image_tag( 'headcount.png', :style => 'margin: 0 auto; display: block; width: auto'), 'http://headcount.org'
