%h1 Privacy Policy

#content
	%p SoundOff is a collaborative advocacy tool maintained and created by HeadCount, a non-partisan, non-profit organization dedicated to participation in democracy.

	%p HeadCount is committed to preserving your privacy and will never sell or share your personal information. If you are accessing  SoundOff through a partner campaign, the partner will also have access to your email address and is bound to act in accordance with its own stated privacy policy. In order to run a campaign through SoundOff, partner must agree to post their own privacy policy on their website, and include an unsubscribe link and instructions in all e-mail communication.

	%p By using SoundOff, you grant HeadCount and partners permission to use your personal contact information to send you communications. You can unsubscribe at any time by following the unsubscribe instructions on that communication.

	%p By using SoundOff, you also agree that HeadCount and its designated partners have rights to any photos, images, video, text or content sent using SoundOff, as long as those photos, images, text or content are used only for promoting 501c3 or 501c4 organizations and their activity and their missions, and not used in any way for commercial purposes. These images can not be sold and these rights are not transferable. HeadCount and partners have the right to alter images to improve clarity or quality but do not have the right to materially alter the images or text in a way that changes the user’s message.

	%p
		Should you complete a voter registration application via a link from the SoundOff website, that activity is subject to the privacy policy of HeadCount,
		%a{ :href => 'http://www.headcount.org/privacy-policy/' }found here,
		and a third-party software provider whose privacy policy and terms of service can be found on that software platform.

	%p HeadCount take steps to ensure that your information is treated securely and in accordance with our privacy policy. However, no data transmission over the Internet can be guaranteed to be 100% secure.  Therefore, HeadCount cannot ensure or warrant the security of any information you transmit to us and you do so at your own risk.

	%p
		If you have any questions about this privacy statement, please contact:
		%br
		HeadCount
		%a{ :href => 'mailt:info@headcount.org' } info@headcount.org