%h1 Terms of Service

#content

	%p SoundOff is non-partisan advocacy tool available to any individual or organization that is lawfully engaged in campaigns that use the democratic system to further their own agenda. HeadCount does not take any position on these campaigns and does not endorse the content of any such campaign.

	%h3 Terms for Partners

	%p SoundOff will not be available to any individual, organization or campaign that does any of the following
	%ol
		%li Promotes discrimination based on race, age, sexual orientation, religion or physical handicap, or any other personal attribute
		%li Directs hostility toward any individuals who do not hold elected office
		%li Threats, intimates or promotes violence
		%li Calls for the overthrow of the U.S. government

	%p Any organization, company or individual who runs a an approved campaign through SoundOff will heretofore be reffered to as “Partners”

	%p Partners may use the SoundOff to stage digital campaigns using social media, aimed to informing elected officials about the opinions of citizens. 

	%p HeadCount has the right to approve or disapprove of any campaign at its own discretion, for any reason. HeadCount also reserves the right to amend the terms of service for any reason at any time without notice. 

	%p Individuals who launch campaigns must provide their full legal name, which will appear with the campaign, and a valid mailing address and contact information. HeadCount has the right to require proof of identity.

	%p Approval of a specific campaign should not be construed as an endorsement, and does not grant the Partner any rights that are not specifically assigned. Partners may not use the HeadCount name or logo without express written consent, and may not use the SoundOff in any manner not authorized or explicitly detailed in these Terms of Use.

	%p Partners are obligated to provide their name, a name for the campaign that has not previously been used, a hashtag that has not previously been used, a link to their website and to their privacy policy. If their website does not list a mailing address that matches the address on their most recent 990 tax filing, approval may be denied. 

	%p Any Partner that can not provide a Website and a link to their privacy policy will not be authorized to collect user email address. Partner also must affirm that all email communication sent to users of SoundOff will include an unsubscribe link and instructions. 

	%p Any individual not representing a 501c 3 or 501c4 organization will not be authorized to collect user email addresses. 

	%p Partner has the sole and complete obligation to act in compliance with their stated privacy policy. Partner indemnifies HeadCount from any liability due to partner violating their own stated privacy policy. 

	%p Email addresses collected will be available to both HeadCount and to the Partner, unless individual user specifies that one or both party should not have access to his or her personal information by unchecking the box granting permission for HeadCount to add individual to is electronic mailing list, or unchecking the box granting permission for Partner to add the individual to its electronic mailing list.

	%p All legal compliance, including but not limited to compliance with laws relating to taxation, IRS tax status, lobbying, grassroots lobbying, board governance or any other matter, is the responsibility of the partner. HeadCount is not responsible or liable for any violations of Federal, state or local statute when using SoundOff or any other HeadCount service. 

	%p Partner shall indemnify, save and hold HeadCount harmless from and against any and all suits, actions, claims, demands, liabilities, judgments, costs and expenses (including reasonable outside attorneys’ fees) related to, arising from or in connection with conduct of Partner and its use or promotion of SoundOff or any other HeadCount service.

	%p HeadCount will track archive and rank tweets from various campaigns to the best of its abilities. However, HeadCount is not responsible for errors in such ranking or archiving or any damage potentially caused by such errors.

	%p HeadCount has the right to cancel, suspend or eliminate any campaign at any time for any reason, at its own discretion and without limitation. 

	%p SoundOff can not be used in any manner that is unlawful or violates local, state or Federal statutes. It can not be used to promote or sell a commercial product, or for the distribution of any content that violates copyright or trademark law. 

	%p HeadCount reserves the right to remove any content or ban any user due to the use of defamatory, harassing, or bullying language, or content that reveals personal information including phone numbers, or for any other reason.

	%p HeadCount reserves the right to deny service to any individual or organization who violates these terms or is judged to be acting in a manner that will be hurtful to HeadCount, its partners or other users of SoundOff.

	%p HeadCount and its designated partners have rights to any photos, images, text or content sent using SoundOff, as long as those photos, images, text or content are used only for promoting 501c3 or 501c4 organizations and their activity and their missions, and not used in any way for commercial purposes. These images can not be sold and these rights are not transferable. HeadCount and partners have the right to alter images to improve clarity or quality but do not have the right to  materially alter the images or text in a way that alters the intended message of the user.

	%p SoundOff Partners are also bound by the User Terms of Service and agree to such terms. 

	%h3 Terms for All Users

	%p By using services provided by Head Count Inc. (DBA HeadCount), including our various websites, SoundOff, email communications, and any information, text, or graphics that appears on the Services (collectively referred to as "Content"), you agree to the following terms. Your access to and use of the Services are conditioned on your acceptance of and compliance with these Terms. By accessing or using the Services you agree to be bound by these Terms.

	%p Only individuals who can form a binding contract with HeadCount may accept these terms. If you are accepting these Terms and using the Services on behalf of a company, organization, government  or other legal entity, you represent and warrant that you are authorized to do so. You may use the Services only in compliance with these Terms and all applicable local, state, national, and international laws, rules and regulations.

	%p The Services that HeadCount provides are always evolving and the form and nature of the Services that HeadCount provides may change from time to time without prior notice to you. In addition, HeadCount may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally and may not be able to provide you with prior notice. 

	%p Any information that you provide to HeadCount is subject to our Privacy Policy, which governs our collection and use of your information. You understand that through your use of the Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including the transfer of this information to the United States and/or other countries for storage, processing and use by HeadCount. 

	%p You are responsible for safeguarding the password that you use to access the Services and for any activities or actions under your password.

	%p You agree that any text, graphics, or other Content submitted to HeadCount via SoundOff or any of HeadCount’s web properties can be used by HeadCount for any purpose, including promotion, research, advertising, marketing or public relations. 

	%p HeadCount has the right to  modify or adapt your Content in order to transmit, display or distribute it over computer networks and in various media and/or make changes to your Content as are necessary to conform and adapt that Content to any requirements or limitations of any networks, devices, services or media.

	%p You are responsible for your use of the Services, for any Content you provide, and for any consequences thereof, including the use of your Content by other users and our third party partners. You understand that your Content may be syndicated, broadcast, distributed, or published by our partners and if you do not have the right to submit Content for such use, it may subject you to liability. HeadCount will not be responsible or liable for any use of your Content in accordance with these Terms. You represent and warrant that you have all the rights, power and authority necessary to grant the rights granted herein to any Content that you submit.

	%p All right, title, and interest in and to the Services (excluding Content provided by users) are and will remain the exclusive property of HeadCount. No one may use the HeadCount name or iany of its trademarks, logos, domain names, and other distinctive brand features without express written permission. 

	%p We reserve the right at any time to remove or refuse to distribute any Content on the Services, to suspend or terminate users, or to bar individual users from using our Services. 

	%p HeadCount respects the intellectual property rights of others and expects and will not tolerate any violations of intellectual property rights by users of the service. 

	%p The Terms will continue to apply until further notice. Use of HeadCount’s Services constitutes continued agreement by you that these terms are in effect and valid. 

	%p Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an "AS IS" and "AS AVAILABLE" basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, 

	%p The Services may contain links to third-party websites or resources. You acknowledge and agree that HeadCount is not responsible or liable for: (i) the accuracy or availability of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by HeadCount of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.

	%p TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, HEADCOUNT SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED FROM THE SERVICES; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF HEADCOUNT EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS (U.S. $100.00).

	%p THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE TWITTER ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.
