#main{ "ng-app" => true }
	#popup{ "ng-controller" => "formScope" }
		%h2.hash_tag {{campaign}}
		#close X Close
		%form#form{ :class => 'stage_{{stage}}', 'ng-submit' => 'nextStage()' }
			= image_tag( @body_class.index('light') ? 'logo_dark.png' : 'logo_small.png' , :class => 'stage_1 stage_2')

			#stage_1
				%input{ :placeholder => "Zip Code", "ng-model" => "zip", :id => 'zip' }

				%input{ :placeholder => "Email", "ng-model" => "email", :id => 'email'  }

			#stage_2
				%input{ :placeholder => 'Street Address', "ng-model" => 'street', :id => 'street' }

				%input{ :placeholder => 'City', "ng-model" => 'city', :id => 'city' }

				%p We need more information to find your Congressional Representative - help us out by providing your street address and city.

			#stage_3
				
				.target{ "ng-repeat" => "target in targets" }
					%img.profile_img{ 'ng-src' => "https://api.twitter.com/1/users/profile_image?screen_name={{target.twitter_id}}&size=bigger" }
					%h1 @{{ target.twitter_id }}

				.tag{ 'ng-hide' => 'drop_campaign'}
					{{campaign}}
					%span{ 'ng-click' => "removeCampaign()" } x

				%textarea{ :placeholder => 'Enter your message to {{targets_list()}}',"ng-model" => "message", :id => 'message' }

				%p 
					%a{ :href => '#', :onclick => 'suggest.style.display = "block"; return false;', 'ng-hide' => "campaign == 'Tweet @ Your Rep' "  } Suggestions?
					%span{ :style => 'float:right'}
						{{counter}}

			#notice
			%button.stage_1.stage_2 Continue

			%button.stage_3 #SoundOff
		#suggest
			%h3 
				Need Help?
				%br
				Try one of these:

			- @suggestions.each do |suggestion|
				%p.link{ 'ng-click' => "setMessage( #{ suggestion.to_json } )" }
					=suggestion

			%a.no_thanks{ :href => '#', :onclick => 'suggest.style.display = "none"; return false;' } No Thanks