%h1 Edit Campaign

#content
	- if current_user.admin
		%h3{ :style => 'text-align: center;' }
			Set Campaign Status
			= render 'status', :campaign => @campaign
			= javascript_include_tag "status.js"
	= render 'form'