@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700)

@font-face
	font-family: 'CubanoRegular'
	src: font-url('cubano-regular-webfont.eot')
	src: font-url('cubano-regular-webfont.svg#CubanoRegular') format('svg'), font-url('cubano-regular-webfont.eot?#iefix') format('embedded-opentype'), font-url('cubano-regular-webfont.woff') format('woff'), font-url('cubano-regular-webfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$bodyFont: 'Open Sans', Tahoma
$headerFont: CubanoRegular