$width: 650px

body.form
	padding: 10px 20px
	background: $grey
	@media (max-width: $break-medium)
		padding: 0

	#main, &
		background: transparent

body.dark
	#popup
		background: #333
		#form
			h1
				color: $grey
		h2
			$light: $darkgrey
			$dark: $grey
			background: $light
			// width: $width
			// left: 0
			// top: 0
			&::after
				border-color: $dark transparent transparent $dark
			&::before
				border-color: $dark $dark transparent transparent
			// 	display: none

body.light
	#popup
		background: $grey
		#form
			color: $darkgrey
			h1
				color: #333
				&:before, &:after
					content: ''
		h2
			$light: #333
			$dark: $darkgrey
			background: $light
			// width: $width
			// left: 0
			// top: 0
			&::after
				border-color: $dark transparent transparent $dark
			&::before
				border-color: $dark $dark transparent transparent
			// 	display: none
		.line
			a
				color: #333
#popup
	background: $blue
	width: $width - 28px*2
	@media (max-width: $break-medium)
		width: 100%
	margin: 0 auto

	position: relative
	#close
		position: absolute
		top: -5px
		right: 5px
		color: white
		text-transform: uppercase
		text-decoration: underline
		cursor: pointer

	h2
		@include ribbon(#333,#555, $width )
		color: white
		padding: 12px 10px

		@media (max-width: $break-medium)
			width: 100%
			left: 0
			&::after, &::before
				display: none

	#form
		pointer-events: all
		padding: 0 50px 50px
		color: white

		input, button
			font-size: 40px
			clear: both

		input, button, p, img, textarea, #notice
			width: 90%
			margin: 30px auto
			display: block
			img
				margin: 0

		input,textarea
			@include input

		input[type=checkbox]
			display: inline
			width: auto
			margin: 0 8px

		textarea
			height: 200px
			font-size: 30px
			resize: none

		#stage_1, #stage_2, #stage_3, .stage_1, .stage_2, .stage_3, #stage_4, .stage_4
			display: none
			position: relative

		&.stage_1
			#stage_1, .stage_1
				display: block

		&.stage_2
			#stage_2, .stage_2
				display: block

		&.stage_3
			#stage_3, .stage_3
				display: block

		&.stage_4
			#stage_4, .stage_4
				display: block

		.target
			clear: both
			h1
				color: $darkblue
			.profile_img
				float: right
				width: 70px
				margin-top: -20px

		.counter
			float: right
		.signups
			line-height: 1.7
			padding: 0 40px
			font-size: 90%
			margin: -20px 0 -10px
			span
				cursor: pointer
				&:hover
					text-decoration: underline
		#stage_3 h1
			word-wrap: break-word
			width: 70%
		// use http://twitter.github.io/bootstrap/components.html#labels-badges
		.tag
			@include tag
			display: inline-block
			position: absolute
			text-decoration: none
			background: #333
			color: #fff
			font-family: helvetica
			font-size: 30px
			line-height: 34px
			text-align: right
			right: 30px
			bottom: 4px

			span
				cursor: pointer
				color: $darkgrey
				font-size: 20px
				margin: -5px 5px 0 0
				&:hover
					color: black
	#suggest
		pointer-events: all
		display: none
		position: absolute
		top: 10px
		left: -340px
		width: 280px
		background: lighten($blue, 50%)
		padding: 10px 10px
		a.no_thanks
			color: $red
			text-align: right
			width: 100%
			display: block
			&:link, &:visited, &:active
				text-decoration: none

		h3
			color: $darkblue
		p
			font-size: 110%
			border-top: 1px solid $grey
			margin: 10px 0
			padding: 10px 20px
			color: $darkgrey
			&:hover
				color: $red
			&:first-of-type
				border-top: none
	#stage_4
		.line
			display: block
			margin: 50px auto 80px
			width: 70%
			padding-top: 20px
			clear: both
			a
				div
					height: 60px
					width: 60px
					background: $darkblue
					float: left
					margin: -15px 40px 0

					img
						margin: 0
						height: 100%
						width: auto
				&.facebook
					img
						padding: 10px 0 10px 20px
