$mid: 30%
$fixed_header: 60px
$menu_width: 440px
$menu_left: 100px

$medium_menu_width: 340px
$medium_menu_left: 20px

$small_menu_width: 200px
$small_menu_left: 0px


body.home #main
	padding: 0px

body.home #main
	background-color: $grey
	position: relative
	min-height: 1000px
	border-top: 3px solid white
	#content
		margin: $fixed_header + 20px 0 0 ($menu_width + $menu_left)


		#welcome
			.smaller
				display: none
			.bigger
				display: block
				margin-bottom: 30px
				img
					width: 17%
					margin-bottom: -4px

			border: 14px solid $darkgrey
			padding: 20px 30px 0
			position: relative
			h1
				color: #959998
				font-size: 30px
				margin: 0
				clear: both
			span
				color: $darkgrey
				font-size: 14px
			.close
				position: absolute
				top: 0
				right: 10px
				text-decoration: none
				color: $darkgrey
				font-size: 20px
				&:hover
					color: $red

			.rotate
				text-align: center
				border-bottom: 1px solid $darkgrey
				.step
					&.open_soundoff
						white-space: normal
					cursor: pointer
					width: 25%
					display: inline-block
					margin: -40px 20px 30px
					height: 200px
					h2, svg path, svg rect
						$transition: 250ms
						-o-transition: color $transition ease-out, fill $transition ease-in
						-ms-transition: color $transition ease-out, fill $transition ease-in
						-moz-transition: color $transition ease-out, fill $transition ease-in
						-webkit-transition: color $transition ease-out, fill $transition ease-in
						transition: color $transition ease-out, fill $transition ease-in
						-webkit-user-select: none
						-moz-user-select: none
						-ms-user-select: none
						-o-user-select: none
						user-select: none
					h2
						color: $darkgrey
					svg
						path, rect
							fill: $darkgrey
					&:hover, &.on
						h2
							color: $red
						svg path, svg rect
							fill: $red
			.describe
				border-bottom: 1px solid $darkgrey
				height: 140px
				position: relative
				.step.on
					display: block
				.step
					text-align: left
					display: none
					margin: 40px 80px 0
					font-size: 19px
					color: $darkgrey
					line-height: 1.5em
				.tutorial_box
					width: 220px
					color: $darkgrey
					font-size: 16px
					position: absolute
					bottom: 20px
					right: 20px
				button
					@include button($red,$darkred)
					font-size: 16px
					float: right
					text-transform: uppercase
					letter-spacing: 1px
					margin: -6px 0 0
					padding: 8px
					&::after
						content: " \00BB"
			.links
				text-align: center
				.row
					text-align: left
					display: inline-block
					width: 19%
					margin: 20px 0
					a
						color: $darkgrey
						display: block
						font-size: 12px
						font-weight: bold
						text-decoration: none
						&:hover
							color: $red

		.item
			min-height: 400px
			width: 95%
			margin: 50px 20px

			background: white
			.open_soundoff
				white-space: nowrap
			.description
				width: 100%
				background: transparent image_url('crowdphoto.png') 50% bottom no-repeat
				background-size: cover
				padding: 20px
				.title
					position: relative
					background-color: rgba(255,255,255,0.95)
					padding: 20px
					font-size: 14px
					.title_line
						margin-left: 80px
					img
						width: 64px
						margin: 0 20px 0 0
						float: left
						border-radius: 3px

					h1
						&, a
							font-size: 35px
							color: #333
							margin: 7px 0
							overflow: hidden
							text-wrap: none
							text-decoration: none
							&:hover
								text-decoration: underline

					h3
						font-size: 14px
						margin: -10px 0 10px
						color: $darkgrey
						font-family: $bodyFont
						font-weight: normal
						padding-left: 5px
						a
							color: $red
							text-decoration: none
					.copy
						margin: 20px 0 20px
						clear: both

					button
						@include button($red,$darkred)
						float: right
						font-size: 20px
						height: 40px
						padding: 1px 8px
						letter-spacing: 3px
						margin-top: 16px !important
						@include clearfix
						&::after
							content: " \00BB"

					.details_left
						display: inline
						pading
						a
							color: $darkblue
							&.twitter_name
								text-decoration: none
								color: $darkgrey
			.rep
				display: none
				&.description
					background: transparent image_url('house.jpg') 50% -150px no-repeat
				img
					float: left
					margin: 20px 10px 0
				.title
					height: 220px
				.info
					font-size: 80%
					p, a
						color: #333
			&.rep
				.campaign
					display: none
				.rep
					display: block


			.tweets
				text-align: center
				.tweet
					border: 2px solid $grey
					text-align: left
					margin: 8px 16px
					width: 40%
					display: inline-block
					@include tweet


				h4
					text-align: center
					position: relative
					color: #333
					padding: 0 30% 20px
					span
						font-size: 80%
						font-style: italic
						font-family: $bodyFont
						font-weight: normal
						width: 70%
						padding: 0 0 0 4px
					&:before
						content: ' '
						width: 20%
						height: 16px
						border-top: 5px solid $blue
						border-left: 5px solid $blue
						position: absolute
						left: 12px
						top: 10px
					&:after
						content: ' '
						width: 20%
						height: 16px
						border-top: 5px solid $red
						border-right: 5px solid $red
						position: absolute
						right: 12px
						top: 10px
			.back
				display: none
			.no-tweets, .more-tweets
				text-align: center
				margin: 50px auto
				width: 90%
				padding-bottom: 40px
				color: $darkgrey
				a
					color: $red
					text-decoration: underline

	#powered_by
		.inner
			background: white
			border: 1px solid #cbcbcb
			border-radius: 3px
			height: 69px
		color: #555
		width: $menu_width - 28px * 2
		left: $menu_left
		position: fixed
		font-weight: bold
		text-align: center
		bottom: 4px
		height: 90px
		vertical-align: middle
		font-size: 12px
		line-height: 14px

		transition-property: bottom
		transition-duration: 0.25s

		z-index: 11

		h3
			float:left
			margin: 0
			padding: 30px 0 0 0
			margin-left: 50px
			width: 50%

		img
			height: 67px
			opacity: 0.8
			float: right
			margin: -44px 80px 0 0

		.mark
			font-size: 9px
			width: 100%
			line-height: 0
			background: $grey
			height: 25px
			margin: 0px
			padding: 10px 0
			a, &
				color: $darkgrey
				font-weight: normal

	#menu
		.open_soundoff
			@include button( $red, $darkred)
			width: 100%
			font-size: 18px


		z-index: 10
		border-radius: 3px
		top: $fixed_header + 20px
		.messages
			.loading
				display: none
				float: right

		&.single
			border-bottom: none
			padding-bottom: 30px
			height: 250px
			.inner
				height: 92px
				.items div
					border-bottom: none
			&.reps
				.inner
					height: 54px
				.messages
					.single.rep
						display: block
					.single.campaign
						display: none
			.messages
				.single.rep
					display: none
				.single.campaign
					display: block
				.many
					display: none

		position: fixed
		height: 76%


		width: $menu_width - 28px*2
		left: $menu_left

		.inner
			border: 1px solid $darkgrey
			overflow: hidden
			height: 80%
			background-color: $grey

		&.reps .items
			.campaign
				display: none
			.rep
				display: block

		.items
			height: 100%
			overflow-y: auto
			.campaign, .rep
				overflow: hidden
				cursor: pointer
				border-bottom: 1px dashed $darkgrey
				&.active, &:hover
					background: white
				h3.name
					color: $blue
				h3
					color: #7b7a7a
					margin-bottom: 0
					margin-top: 4px
					font-size: 16px
				h4
					color: $red
					margin: 1px 0
					font-size: 12px

			.campaign
				padding: 1px 20px
				height: 90px
				.score
					float: right
					margin: 9px 0 0
					background: image_url('stat.png') 0 6px no-repeat
					padding: 10px 0 12px 20px
					font-size: 18px
					line-height: 80%
				p, div
					font-size: 11px
					color: #7b7a7a
					height: 30px
					overflow: hidden


			.rep
				padding: 4px 20px
				h3
					line-height: 1em
				p
					line-height: 0.9em
					margin: 0 0 10px
				&.active, &:hover
					h3
						color: $blue



		#tabs
			clear: both
			width: 100%
			margin: -2px 0 1px
			span
				font-family: $headerFont
				color: $darkgrey
				cursor: pointer
				padding: 2px 18px 2px 17px
				font-size: 16px
				letter-spacing: 1px
				white-space: nowrap
				border: 1px solid $darkgrey
				background-color: $grey
				border-top-right-radius: 5px
				border-top-left-radius: 5px
				&:last-child
					padding-left: 19px
				&.on, &:hover
					color: #333
					background-color: #fff
					border-bottom-color: transparent

		.messages
			.single
				display: none
			.many
				display: block

			padding: 2px 70px 4px 20px
			display: block
			font-size: 70%
			height: 20px
			a
				color: $darkred
				&.clear
					float: left

		img.search
			float: right
			width: 16px
			margin: 20px 8% 0 0
		input
			border: none
			border-bottom: 1px solid $darkgrey
			color: $darkgrey
			display: block
			width: 80%
			font-size: 80%
			margin: 20px 5% 0
			background: transparent
			outline: none
			&::-webkit-input-placeholder
				text-align: right
			&:-moz-placeholder
				text-align: right
			&::-moz-placeholder
				text-align: right
			&:-ms-input-placeholder
				text-align: right

	#more-info
		transition-property: left
		transition-duration: 0.25s

		display: block
		top: 302px
		&.reps
			top: 264px
		padding: 20px 10px
		z-index: 0
		position: fixed
		left: $menu_left
		width: $menu_width - 28px*2

		background: #f3f5f4
		overflow: hidden
		font-size: 90%
		p, h2
			text-align: center
		a
			color: $blue
		.build_widget
			color: $blue
		input
			font-size: 100%
			border: none
			width: 60%





#top
	overflow: visible
	background: $blue
	position: fixed
	z-index: 20
	top: 0
	left: 0
	right: 0
	height: $fixed_header

	border-bottom: 1px solid $darkblue


	img#logo
		position: absolute
		transition-property: width, top, left
		margin: 0 0 0 -20px
		width: 170px
		top: 6px
		cursor: pointer
		left: 7%


	#fixed
		right: 10px
		position: absolute

		transition-property: right
		transition-duration: 0.25s
		width: 76%

		bottom: 0px

		button, a
			float: right
		button.start_campaign
			@include button( $red, $darkred)
			font-size: 16px
			margin-right: 24px
		button.my_campaigns
			@include button( $red, $darkred)
			font-size: 16px
			margin-right: 24px

		a.item
			width: 40px
			font-size: 200%
			color: white
			text-decoration: none
			margin: 0 14px
			text-align: center
			img
				height: 45px
				top: inherit
				left: inherit
				width: auto
			&.facebook img
				height: 25px

@mixin overlay_pad($width, $height,$color,$left: 0px, $right: 0px)
	.left, .right
		height: $height
		background-color: $color
	@if $left == 0px
		.left
			left: 0
			right: $right + $width
		.right
			right: 0
			width: $right
		.target
			right: $right
	@else
		.left
			left: 0
			width: $left
		.right
			right: 0
			left: $left+$width
		.target
			left: $left

	.target
		width: $width
		height: $height


//  Overlay

$row_top: 80px - 18px
$row_height: 280px

#overlay
	position: absolute
	display: none
	pointer-events: none
	top: 0
	left: 0
	right: 0
	z-index: 100
	$overlay_color: rgba(102,102,102,0.9)

	.target
		border-radius: 0px
		box-shadow: inset 0px 0px 20px 10px $overlay_color

	div
		position: absolute

	#start_campaign
		top: -18px
		width: 100%
		@include overlay_pad( 300px, 80px, $overlay_color,0,200px)

	#menu_block
		left: 0
		top: $row_top
		width: $menu_width + 40px
		height: $row_height
		#tweet_congress
			@include overlay_pad( $menu_width + 20px, $row_height, $overlay_color, 70px,0px)
			.target
				border-bottom: 100px solid $overlay_color

	$placeholder_width: 20px
	.placeholder
		background-color: $overlay_color
		top: $row_top
		height: $row_height
		left: $menu_width + 40px + 50px
		width: $placeholder_width
	#content_block
		top: $row_top
		height: $row_height
		right: 0
		left: 540px + $placeholder_width - 10px
		.target
			display: block
			border-top: 20px solid $overlay_color
			position: relative
			height: $row_height
			margin-right: $placeholder_width - 10px
		.right
			width: $placeholder_width - 10px
			right: 0
			height: $row_height
			background-color: $overlay_color
			position: absolute
			bottom: 0
	#rest
		background-color: $overlay_color
		padding-bottom: 50px
		position: relative
		left: 0
		right: 0
		$rest_top: $row_height + 80px - 18px
		top: $rest_top
		.one
			top: 40px - $rest_top
			right: 200px
		.two
			top: 64px - $rest_top
			left: 480px
		.three
			top: 170px - $rest_top
			left: 70px
		.four
			top: 250px - $rest_top
			right: 40px
		.five
			top: 170px - $rest_top
			left: 480px
		.instructions
			position: relative
			.row
				clear: both
				display: block
				position: relative
				height: 90px
				width: 100%
				padding: 0 200px 20px

				.dot
					position: relative
					left: auto
					top: auto
					right: auto
					float: left
					margin: 14px 0 0 -60px

				&, h2, p
					color: white
				h2, p
					line-height: 1.2em
					padding: 0
					margin: 0 0 8px
		.dot
			position: absolute
			$size: 32px
			background-color: $blue
			color: white
			border-radius: $size
			border: 2px solid white
			text-align: center
			font-size: 20px
			width: $size
			height: $size
			box-shadow: -2px 2px 5px -1px black

body.overlaid
	#overlay
		display: block
	#content .item#welcome, #terrible
		display: none
	#content .item .description
		height: $row_height - 20px

#terrible
	&, & > *
		pointer-events: none
	.step
		position: absolute
		border: 2px dotted $red
		display: none
		z-index: 60
		&.on
			display: block
		&.pick
			top: 140px
			left: 70px
			width: 440px
			bottom: 102px
		&.tweet
			left: 70px
			width: 440px
			height: 72px
			top: 70px
		&.new
			top: 3px
			width: 266px
			right: 220px
			height: 55px