$mid: 22%
$fixed_header: 60px
$menu_width: 440px
$menu_left: 100px

$medium_menu_width: 340px
$medium_menu_left: 20px

$small_menu_width: 200px
$small_menu_left: 0px


body.home #main
	padding: 0px

#main
	background-color: $grey
	position: relative
	min-height: 1000px

	#content
		margin: $fixed_header + 20px 0 0 ($menu_width + $menu_left)


		.item
			min-height: 400px
			width: 95%
			margin: 50px 20px

			background: white
			.description
				width: 100%
				background-color: $darkgrey
				padding: 20px
				.title
					opacity: .95
					position: relative
					background-color: white
					padding: 20px
					font-size: 14px
					img
						width: 64px
						margin: 0 20px 60px 0
						float: left
						border-radius: 3px

					h1
						font-size: 35px
						color: #333
						margin: 7px 0
					h3
						font-size: 14px
						margin: -10px 0 10px
						color: $darkgrey
						font-family: $bodyFont
						font-weight: normal
						a
							color: $red
							text-decoration: none
					.copy
						margin: 36px 0
						clear: both

					button
						@include button($blue,$darkblue)
						float: right
						font-size: 18px
						height: 40px
						width: 160px
						padding: 1px 3px
						letter-spacing: 2px
						margin: 8px 0
					.details_right
						right: 20px
					.details_left
						left: 20px
					.details_right, .details_left
						position: absolute
						bottom: 0px
						a
							color: $darkblue
			.rep
				display: none
				img
					float: left
					margin: 20px 10px 0
				.info
					font-size: 80%
					p, a
						color: #333
			&.rep
				.campaign
					display: none
				.rep
					display: block


			.tweets
				text-align: center
				.tweet
					border: 2px solid $grey
					text-align: left
					margin: 8px 16px
					width: 40%
					display: inline-block
					@include tweet


				h4
					text-align: center
					position: relative
					color: #333
					padding: 0 21% 20px
					span
						font-size: 80%
						font-style: italic
						font-family: $bodyFont
						font-weight: normal
						width: 70%
					&:before
						content: ' '
						width: 25%
						height: 16px
						border-top: 5px solid $blue
						border-left: 5px solid $blue
						position: absolute
						left: 12px
						top: 10px
					&:after
						content: ' '
						width: 25%
						height: 16px
						border-top: 5px solid $red
						border-right: 5px solid $red
						position: absolute
						right: 12px
						top: 10px
			.back
				display: none
			.no-tweets
				text-align: center
				margin: 50px auto
				width: 480px
				padding-bottom: 40px
				color: $darkgrey
				a
					color: $red

	#powered_by
		background: white
		border: 1px solid #cbcbcb
		border-radius: 3px
		color: #555
		width: $menu_width - 28px * 2
		left: $menu_left
		position: fixed
		font-weight: bold
		text-align: center
		bottom: 2px
		height: 68px
		vertical-align: middle
		font-size: 12px
		line-height: 14px

		transition-property: bottom
		transition-duration: 0.25s
		bottom: -200px
		z-index: 11

		h3
			clear:both
			margin: 0
			padding: 14px 0 0
			width: 50%

		img
			height: 67px
			opacity: 0.8
			float: right
			margin: -28px 50px 0 0

		.mark
			float: left
			font-size: 9px
			margin-top: 8px
			width: 50%
			a, &
				color: #c3c4c4
				font-weight: normal

	#menu
		transition-property: height, left
		transition-duration: 0.25s
		borer: 1px solid #cbcbcb
		z-index: 10
		border-radius: 3px
		.messages
			.loading
				display: none
				float: right

		&.single
			border-bottom: none
			padding-bottom: 30px
			height: 250px
			.inner
				height: 170px
			&.reps
				.messages
					.single.rep
						display: block
					.single.campaign
						display: none
			.messages
				.single.rep
					display: none
				.single.campaign
					display: block
				.many
					display: none

		position: fixed
		top: 100%
		height: 80%
		background: #f3f5f4


		width: $menu_width - 28px*2
		left: $menu_left

		.inner
			transition-property: height
			transition-duration: 0.25s

			overflow: hidden
			height: 80%

		&.reps .items
			.campaign
				display: none
			.rep
				display: block

		.items
			height: 95.5%
			overflow-y: auto

			.campaign, .rep
				cursor: pointer
				border-bottom: 2px solid $grey
				&.active, &:hover
					background: white
					h3.name
						color: $blue
				h3
					color: #7b7a7a
					margin-bottom: 4px

			.campaign
				padding: 10px 20px
				height: 122px
				.score
					float: right
					margin: 8px 0 0
					background: image_url('stat.png') 0 6px no-repeat
					padding: 10px 0 12px 20px
					font-size: 18px
					line-height: 80%
				p, div
					font-size: 12px
					color: #7b7a7a
					height: 2.8em
					overflow: hidden


			.rep
				padding: 4px 20px
				h3, p
					line-height: 1em
				&.active, &:hover
					h3
						color: $blue



		#tabs
			clear: both
			width: 90%
			margin: 10px 5% 0px
			text-align: center
			transition-property: margin-top
			transition-duration: 0.25s
			p
				height: 20px
				line-height: 1em
				margin: 0
				a.open_soundoff
					color: $darkred
					font-size: 70%
					text-align: center
			span
				font-family: $headerFont
				color: $darkgrey
				cursor: pointer
				padding: 2px 10px
				font-size: 85%
				white-space: nowrap
				&.on, &:hover
					color: $darkred


		h2
			@include ribbon(#333,#555,50px)
			top: -14px
			text-align: center
			padding: 14px 0 0
			color: white

		.messages
			.single
				display: none
			.many
				display: block

			padding: 2px 70px 4px 20px
			display: block
			font-size: 70%
			height: 20px
			a
				color: $darkred
				&.clear
					float: left

		img.search
			float: right
			width: 16px
			margin: 72px 8% 0 0
		input
			border: none
			border-bottom: 1px solid $darkgrey
			color: $darkgrey
			display: block
			width: 80%
			font-size: 100%
			margin: 70px 5% 0
			background: transparent
			outline: none
			&::-webkit-input-placeholder
				text-align: right
			&:-moz-placeholder
				text-align: right
			&::-moz-placeholder
				text-align: right
			&:-ms-input-placeholder
				text-align: right

	#more-info
		transition-property: left
		transition-duration: 0.25s

		display: none
		top: 350px
		&.reps
			top: 310px
		padding: 20px 10px
		z-index: 0
		position: fixed
		left: $menu_left
		width: $menu_width - 28px*2

		background: #f3f5f4
		overflow: hidden
		font-size: 90%
		p, h2
			text-align: center
		a
			color: $blue
		.build_widget
			color: $blue
		input
			font-size: 100%
			border: none
			width: 60%


body.fixed
	#top
		z-index: 20
		position: fixed
		height: $fixed_header
		border-bottom-width: 4px
		min-height: 0

		img#logo
			width: 170px
			top: 6px
			cursor: pointer
			left: 7%

		#description, #banner
			display: none
		#fixed
			right: 10px
	#footer
		display: none

	#main
		#menu
			top: $fixed_header + 20px
		#more-info
			display: block
		#powered_by
			bottom: 4px


#top
	background: $blue
	position: fixed
	z-index: 10
	top: 0
	left: 0
	right: 0
	bottom: $mid
	min-height: 500px

	border-bottom: 10px solid $darkblue
	$offset: 40%
	$offset_small: 10%
	$offset_medium: 20%





	#banner
		color: white
		height: 150px
		right: 100px
		width: 130px
		text-align: left
		font-size: 10px
		z-index: 12
		position: relative
		padding: 28px 0 0 6px
		position: absolute
		font-weight: normal
		background: $darkblue

		img
			height: 73px
			margin: 10px auto
			display: block
		.small
			display: none

	img#logo
		position: absolute
		top: $offset*.75
		transition-property: width, top, left

		left: 10%
		width: 33%


	#description
		position: absolute
		top: $offset

		right: 10%
		width: 40%

		p
			color: white
			font-size: 22px
			font-weight: normal
		button
			@include button($red,$darkred)
			margin-top: 7%
			display: block
			min-width: 330px
			text-align: center
		a
			color: white
			font-size: 125%
			text-decoration: underline


	#fixed
		right: -1000px
		position: absolute

		transition-property: right
		transition-duration: 0.25s
		width: 76%

		bottom: 0px

		button, a
			float: right
		button.start_campaign
			@include button( $darkblue, darken($darkblue, 3%))
			font-size: 16px
			margin-right: 24px
		button.my_campaigns
			@include button( $darkblue, darken($darkblue, 3%))
			font-size: 16px
			margin-right: 24px

		a.item
			font-size: 200%
			color: white
			text-decoration: none
			margin: 0 24px
			img
				height: 45px
				top: inherit
				left: inherit
				width: auto
			&.facebook img
				height: 25px

#footer
	position: fixed
	background-color: white
	z-index: 1
	overflow: hidden
	top: 100% - $mid
	height: $mid
	left: 0
	right: 0
	padding: 30px 5% 0

	p
		color: $darkgrey
		font-size: 80%
		text-align: left
		a
			color: $darkgrey
			font-size: 90%
			font-weight: bold
			text-decoration: none

	div
		display: inline-block
		height: 100% - $mid
		color: $darkgrey

	.disclaimer
		width: 40%
		font-size: 13px
		float: left
		line-height: 1.4em
		margin: 0 2.5% 0 5%


	.column
		width: 12.5%
		float: left
		p
			text-align: left
			font-size: 16px
			line-height: 15px
		margin: 0 0 0 2%
		vertical-align: top
		img
			width: 100%

