body
	font-family: $bodyFont, sans-serif
	letter-spacing: 0px
	padding: 0
	margin: 0
	background-color: $grey
	min-width: 400px
	&.single
		min-width: 800px

h1, h2, h3, h4
	font-family: $headerFont, sans-serif
	letter-spacing: 2.5px
	span
		font-size: 120%
		margin: 0 -.4em

a, .link
	cursor: pointer
	color: $grey

p
	line-height: 1.4em

#notice
	background: $grey
	@include tag
	color: $blue
	text-align: center
	overflow:hidden
	white-space: inherit
	&.oops
		color: #db4c6b

input.oops, textarea.oops
	border: 2px solid $red !important
	&:placeholder
		color: $red !important

.pink_ribbon
	@include ribbon($red,$darkred,411px)

button
	@include button($blue,$darkblue)
	font-family: $headerFont

#top
	#fixed
		#top_menu
			width: 120px
			position: relative
			float: right
			margin-left: -27px

			a.menu
				padding: 4px 0 2px 10px
				margin-left: 14px
				img
					height: 37px

			.inner
				position: absolute
				display: none
				background-color: $darkblue
				top: 54px
				z-index: 100
				right: 24px
				padding: 10px 4px 20px
				a
					color: white
					display: block
					font-size: 80%
					text-align: right
					margin: 4px 0
					float: none
					padding-right: 10px
					&:hover
						text-decoration: underline
			&:hover
				a.menu
					background-color: $darkblue
					padding-bottom: 12px
					margin-bottom: -22px

				.inner
					display: block