body
	font-family: $bodyFont, sans-serif
	letter-spacing: 2.5px
	padding: 0
	margin: 0

h1, h2, h3, h4
	font-family: $headerFont, sans-serif

a, .link
	cursor: pointer
	color: $grey

p
	line-height: 1.4em

#notice
	background: $grey
	@include tag
	color: $blue
	text-align: center
	&.oops
		color: $red

input.oops, textarea.oops
	border: 2px solid $red !important
	&:placeholder
		color: $red !important

.pink_ribbon
	@include ribbon($red,$darkred,411px)

button
	@include button($red,$darkred)
	font-family: $headerFont
