@media (max-width: $break-medium-large)
	body.home #main
		#menu, #more-info, #powered_by
			left: 80px
		#content
			margin-left: 490px
			.item .description
				.title
					.title_line
						clear: both
						width: 100%
						h1,h3,h4
							width: 100%
					img
						margin-bottom: 10px
	#top #fixed
		button.start_campaign, button.my_campaigns
			font-size: 100%
			padding: 4px 8px
			margin-top: 10px
			margin-right: 14px
		a.item
			margin: 0 14px
		#top_menu
			&:hover
				a.menu
					padding-bottom: 0
					margin-bottom: 0
			.inner
				margin-top: -12px

	body.fixed.single #main
		h1
			left: -1.5%
			width: 103%
		#content
			width: 96%

	body.fixed.single #main
		h1
			left: -1.5%
			width: 103%
		#content
			width: 96%



@media (max-width: $break-medium)
	body.fixed.single
		$width: 680px
		min-width: $width + 28*2
		#main
			min-width: $width + 28px*2
			h1
				left: 0
				width: $width + 28*3
			#content
				width: 96%
				height: auto
	body.home #main

		#content
			margin-right: 1000px
			float: right
			height: 0px
			overflow: hidden
			.item
				.description
					.title
						img
							margin-bottom: 0
						h1
							clear: both
				.tweets
					.tweet
						width: 90%
						max-width: 90%
		#menu
			min-width: 290px
			width: 80%
			position: relative
			left: 10%
			top: 0
			height: 75%
			.items
				height: 90%
		#powered_by
			left: -2px
			width: 102%
			padding: 0 2%

	.single
		#main
			#content
				width: 90%
			h1
				width: 100%
		form
			width: 100%
	#top
		position: relative
		bottom: inherit
		height: auto
		min-height: inherit
		padding-bottom: 2%
		#fixed
			.start_campaign, .my_campaigns
				display: none

			#top_menu
				margin-left: -40px
				.inner
					right: 0
			a.item
				margin: 0 0 0 16px
		#banner
			height: 50px
			padding-top: 10px
			right: 2%
			text-align: center
			.small
				display: block
			a img
				display: none
			&::after
				border-width: 8px 70px
		img#logo
			width: 90%
			left: 5%
			margin-top: 10%
			position: relative
		#description
			margin: 10% 0 0
			width: 90%
			left: 5%
			position: relative
			text-align: center
			.get_started
				margin: 2% auto
	#footer
		position: relative
		padding: 0 0 50% 10%
		p
		.column
			width: 28%
			margin: 0 2%
			float: none
			p
				text-align: center
		.disclaimer
			width: 90%
			margin-top: 2%
			text-align: center
	body.fixed
		min-width: 400px
		#main
			#menu
				top: 60px
	body.fixed.home
		min-width: 400px
		#top
			img#logo
				position: absolute
				margin-top: 0
			.campaign
				display: none
			padding-bottom: 0
		#footer
			padding-bottom: 0
			position: fixed
		#main #menu
			position: relative !important
			height: auto
			top: 68px
			#tabs
				marign: 0
				span
					padding: 2px 12px

		#main #powered_by
			bottom: 0px
		#main #more-info
			display: none
		#main.mobile_active
			#menu, #more-info
				left: -1000px
			#powered_by
				bottom: -500px
			#content .active
				position: absolute
				top: 60px
				margin: 50px 1%
				width: 98%
				left: 0px
				.description .title
					button.open_soundoff
						font-size: 14px
						width: 120px
					.title_line
						width: 100% !important
						padding-top: 10px
						h1
							font-size: 24px
					.copy
						margin: 12px 0
					.title_line, .copy, .details_right, .details_left
						text-align: center
					.details_right, .details_left
						position: relative
						display: block
						left: 0px

				.back
					color: $red
					font-size: 130%
					position: absolute
					top: -30px
					text-decoration: underline
					cursor: pointer
					display: block

@media (max-width: $break-small)
	body.home
		min-width: 320px !important

		#top
			#fixed
				width: 30%
				position: absolute
				top: 10px
				a.facebook, a.twitter
					display: none
				#top_menu a.menu
					position: absolute
			#logo
				margin-top: 60px
			#description
				p
					font-size: 15px
				button
					font-size: 20px
					min-width: 50%
					margin: 0 auto
					display: block
		#main
			display: none

		#footer
			padding: 0
			.column
				width: 28%
			.disclaimer
				width: 90%
				clear: both

	body.fixed #main
		display: block
		#menu
			min-width: 258px
			h2
				font-size: 18px
	#main 
		#powered_by
			position: absolute !important
			bottom: 0
		&.mobile_active
			display: none