@media (max-height: 600px) and (min-width: $break-medium)
	body.home
		#top
			bottom: 37%
			#logo
				top: 15%
			#banner
				height: 50px
				padding-top: 10px
				right: 2%
				text-align: center
				.small
					display: block
				a img
					display: none
@media (max-height: 450px) and (min-width: $break-medium)
	body.home
		#top #description p
			font-size: 16px
		#footer .disclaimer p
			font-size: 12px

@media (max-width: $break-medium-large)
	#overlay
		#start_campaign
			.left
				right: 430px
			.target
				width: 230px
		#menu_block #tweet_congress .target
			width: 400px
		.placeholder
			left: 470px
		#content_block
			left: 490px
		#menu_block, .placeholder, #content_block, #menu_block #tweet_congress
			&, div, .target, .right, .left
				height: 340px
		#rest
			$rest_top: 402px
			top: $rest_top
			.one
				top: 40px - $rest_top
			.three, .five
				top: 170px - $rest_top
			.two, .five
				left: 460px
			.four
				top: 300px - $rest_top
				right: 10px
			.two
				top: 64px - $rest_top
			.instructions
				.row
					font-size: 70%
					height: 60px
					margin-bottom: 14px
	body.home #main
		#menu, #more-info, #powered_by
			left: 80px
		#content
			#welcome
				.smaller
					display: block
				.bigger
					display: none
				padding: 20px 10px 0
				.rotate
					.step
						width: 20%
						margin: 0 14px
						svg
							width: 100%
						h2
							font-size: 14px
				.describe
					height: 172px
					.step
						font-size: 15px
						margin: 10px 20px
				.links
					text-align: left
					margin: 0 0 0 10px
					.row
						width: 44%
						vertical-align: top
						margin: 0
						font-size: 9px
						&:last-child
							width: 100%
			margin-left: 490px
			.item .description
				.title
					.title_line
						h1,h3,h4
							margin: 0
						h3
							font-size: 12px
							color: $darkblue
							letter-spacing: 1px
						h1
							&, & a
								font-size: 24px
								line-height: 0.8em
					img
						margin: 10px 20px 0 0
					.copy
						margin-bottom: 30px
				&.rep
					.title .title_line
						margin-bottom: 40px
					.details_left
						display: block
	body.home #main #content .item
		.description
			background-size: inherit
			.title button
				max-width: 95%
				margin: 0 auto
				display: block
				position: relative
				font-size: 14px
				padding: 4px

	body.home #terrible
		.tweet, .pick
			width: 410px
		.new
			width: 224px
			right: 208px
	#top #fixed
		button.all_partners
			display: none
		button.start_campaign, button.my_campaigns
			font-size: 100%
			padding: 4px 8px
			margin-top: 10px
			margin-right: 14px
		a.item
			margin: 0 14px
		#top_menu
			a.menu span
			&:hover
				a.menu
					padding-bottom: 0
					margin-bottom: 0
					span
						bottom: 0px
			.inner
				margin-top: -4px
				right: 14px

	body.fixed.single #main
		h1
			left: -1.5%
			width: 103%
		#content
			width: 96%

	body.fixed.single #main
		h1
			left: -1.5%
			width: 103%
		#content
			width: 96%
			overflow: visible
			.widget_box
				width: 600px
			form
				width: 100%
			.help
				background: #f3f5f4
				padding: 4px
				border: 1px solid #348daf
				border-radius: 5px
				right: inherit
				left: -120px
				width: 140px
				display: none
				&.on
					display: block
				a
					word-break: break-all


@media (max-width: $break-medium)
	#overlay, #terrible, #welcome, #fixed button, #terrible, #menu button
		display: none
	.back
		width: 50px
		height: 100%
		padding: 16px 4px
		border-right: 1px solid $darkblue
		display: none
		cursor: pointer
		svg
			height: 26px
	body.fixed.single
		$width: 680px
		min-width: $width + 28*2
		#main
			min-width: $width + 28px*2
			h1
				left: 0
				width: $width + 28*2
			#content
				width: 92%
				height: auto
				min-width: 680px
				padding: 60px 20px 10px
				.widget_box
					width: 600px
	body.home
		#top
			&.mobile_active
				img#logo
					margin-left: 50px
				.back
					display: block

			img#logo
				position: absolute
				margin-top: 0
			.campaign
				display: none
			padding-bottom: 0
			#fixed
				#top_menu
					margin-left: -150px
					.menu
						margin: 0 -11px 0 0
						padding-bottom: 4px
					.inner
						margin-top: 5px
						position: fixed
						right: 0
						width: 60%
						bottom: 0
						padding-top: 20px
						a
							font-size: 12px
							text-decoration: none
							line-height: 1.4em
		#main
			$top: 50px
			padding-bottom: 85px

			#content, #menu, #powered_by
				display: block

			#menu
				position: relative !important
				height: auto
				left: 0
				right: 0
				width: 100%
				top: $top
				img.search
					margin-top: 0
				#tabs
					width: 100%
					span
						position: relative
						border-bottom: none
						margin: 0 0 0 -5px
						font-size: 11px
						z-index: 0
						&:first-child
							margin-left: 0px
						&:hover, &.on
							z-index: 10
							background-color: #fefefe
				.inner
					border: none
					border-top: 1px solid $darkgrey
					position: relative
					z-index: 5
					.items
						background-color: #fefefe
						height: 90%


			#powered_by
				bottom: 0px
				left: -15px
				width: 110%
				padding: 0 2%

			#more-info
				display: none
			#content .item
				display: none

			&.mobile_active
				#menu
					left: -1000px
					position: absolute
					height: 0px
					overflow: hidden
				#powered_by
					display: none
				#content
					display: block
					float: right
					height: 0px
					overflow: hidden
					.item
						.description
							padding: 20px 0
							.title
								padding: 10px
								button.open_soundoff
									font-size: 14px
								.copy
									margin: 12px 0 40px
									font-size: 12px

						.tweets
							.tweet
								width: 90%
								max-width: 90%
						&.active
							padding: 0 0 50px
							display: block
							position: absolute
							top: $top
							margin: 0
							width: 100%
							left: 0px



					.back
						color: $red
						font-size: 130%
						position: absolute
						top: -30px
						text-decoration: underline
						cursor: pointer
						display: block

@media (max-width: $break-small)
	body.home
		min-width: 320px !important
		.facebook, .twitter
			display: none
