@mixin ribbon($lightcolor,$darkcolor,$height: 50px)
	display: block
	position: absolute
	top: 0px
	height: $height
	left: -28px
	right: -28px
	background: $darkcolor

	&:before, &:after
		content: ''
		display: block
		position: absolute
		border-style: solid

	&:before
		display: block
		left: 0
		top: $height
		border-width: 14px
		border-color: $lightcolor $lightcolor transparent transparent

	&:after
		display: block
		right: 0
		top: $height
		border-width: 14px
		border-color: $lightcolor transparent transparent $lightcolor


@mixin button($color,$shadow)
	-moz-box-shadow: 0px 3px 0px 0px $shadow
	-webkit-box-shadow: 0px 3px 0px 0px $shadow
	box-shadow: 0px 3px 0px 0px $shadow

	background-color: $color
	-moz-border-radius: 3px
	-webkit-border-radius: 3px
	border-radius: 3px

	border: none
	&, img
		cursor: pointer

	display:inline-block
	color: white
	font-family:Cubano
	font-size: 35px
	padding: 12px 30px
	text-decoration:none
	letter-spacing: 2px

	text-shadow: 0px 1px 0px $shadow

	&:hover
		background-color: lighten($color,3%)

	span
		font-size: 120%
		margin: 0 -.4em


@mixin tag
	border-radius: 3px
	line-height: 1.4em
	text-indent: .5em
	vertical-align: baseline
	white-space: nowrap
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	font-weight: bold

@mixin tweet
	vertical-align: top
	padding: 8px
	font-size: 90%
	min-width: 180px
	a
		text-decoration: none
		color: #333
		&:hover
			text-decoration: underline
	h2
		font-size: 80%
		padding-top: 8px
		margin: 0
	h3
		font-size: 60%
	img
		height: 45px
		width: 45px
		clear: both
		border-radius: 50px
		float: left
		margin: 12px
	.body
		clear: both
		font-size: 85%
		padding: 4px 4px 10px
		margin: 10px
		letter-spacing: 2px
		border-bottom: 2px solid $blue
		word-break: break-word
	.actions
		margin: 0 0 10px
		img
			width: 30px
			height: 30px
			margin: -6px 0 0 -6px
		.buttons
			float: right
			a
				width: 15px
				height: 15px
				margin: 0 2px
				display: inline-block
				background-image: url('https://si0.twimg.com/images/dev/cms/intents/icons/sprites/everything-spritev2.png')
				background-repeat: no-repeat
				&.reply
					background-position-x: -2px
					&:hover
						background-position-x: -18px
				&.retweet
					background-position: -81px
					&:hover
						background-position-x: -97px
				&.favorite
					background-position: -34px
					&:hover
						background-position-x: -50px
@mixin input
	padding: 10px 30px
	border-radius: 5px
	border: none
	width: 90%
	line-height: 1.4em
	highlight: none
	&:focus
		border-color: #348daf
		outline-width: 0
	&::-webkit-input-placeholder
		color: $darkgrey
		line-height: 1.4em
	&:-moz-placeholder
		color: $darkgrey
		line-height: 1.4em
	&::-moz-placeholder
		color: $darkgrey
		line-height: 1.4em
	&:-ms-input-placeholder
		color: $darkgrey
		line-height: 1.4em


@mixin placeholder($color)
	&::-webkit-input-placeholder
		color: $color
		line-height: 1.4em
	&:-moz-placeholder
		color: $color
		line-height: 1.4em
	&::-moz-placeholder
		color: $color
		line-height: 1.4em
	&:-ms-input-placeholder
		color: $color
		line-height: 1.4em


@mixin gradient($from, $to)
	background-color: $from
	background-image: -moz-linear-gradient($from, $to)
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to))
	background-image: -webkit-linear-gradient($from, $to)
	background-image: -o-linear-gradient($from, $to)

// from http://stackoverflow.com/questions/7154705/sass-scss-mixin-for-clearfix-best-approach
@mixin clearfix
	zoom:1
	&:before, &:after
		content: "\0020"
		display: block
		height: 0
		overflow: hidden
	&:after
		clear: both
