@mixin ribbon($lightcolor,$darkcolor,$width)
	display: block
	position: relative
	top: -20px
	height: 50px
	left: -28px
	width: $width
	background: $darkcolor

	&:before, &:after
		content: ''
		display: block
		position: absolute
		border-style: solid
	
	&:before
		display: block
		left: 0
		top: 50px
		border-width: 14px
		border-color: $lightcolor $lightcolor transparent transparent
	
	&:after
		display: block
		right: 0
		top: 50px
		border-width: 14px
		border-color: $lightcolor transparent transparent $lightcolor


@mixin button($color,$shadow)
	-moz-box-shadow: 0px 3px 0px 0px $shadow
	-webkit-box-shadow: 0px 3px 0px 0px $shadow
	box-shadow: 0px 3px 0px 0px $shadow

	background-color: $color
	-moz-border-radius: 3px
	-webkit-border-radius: 3px
	border-radius: 3px
	
	border: none
	&, img
		cursor: pointer
		
	display:inline-block
	color: white
	font-family:Cubano
	font-size: 35px
	padding: 12px 30px
	text-decoration:none
	letter-spacing: 5px

	text-shadow: 0px 1px 0px $shadow

	&:hover
		background-color: lighten($color,3%)


@mixin tag
	border-radius: 3px
	line-height: 1.4em
	text-indent: .5em
	vertical-align: baseline
	white-space: nowrap
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
	font-weight: bold

@mixin tweet
	vertical-align: top
	padding: 8px
	font-size: 90%
	a
		text-decoration: none
		color: #333
		&:hover
			text-decoration: underline
	h2
		font-size: 80%
		padding-top: 8px
		margin: 0
	h3
		font-size: 60%
	img
		height: 45px
		width: 45px
		clear: both
		border-radius: 50px
		float: left
		margin: 12px
	.body
		clear: both
		font-size: 85%
		padding: 4px 4px 10px
		margin: 10px
		letter-spacing: 2px
		border-bottom: 2px solid $blue

	.actions
		margin: 0 0 10px
		img
			width: 30px
			height: 30px
			margin: -6px 0 0 -6px
		.buttons
			float: right
			a
				width: 15px
				height: 15px
				margin: 0 2px
				display: inline-block
				background-image: url('https://si0.twimg.com/images/dev/cms/intents/icons/sprites/everything-spritev2.png')
				background-repeat: no-repeat
				&.reply
					background-position-x: -2px
					&:hover
						background-position-x: -18px
				&.retweet
					background-position: -81px
					&:hover
						background-position-x: -97px
				&.favorite
					background-position: -34px
					&:hover
						background-position-x: -50px