.single
	$width: 980px
	#main
		margin: 120px
		#content
			background: #f9f9f9
			width: $width - 28px*2
			margin: 0 auto
			padding: 60px 100px 120px
			min-height: 500px
			font-size: 140%
			color: #333
			overflow: hidden
			position: relative
			z-index: 9
	a
		color: $red
	h1
		@include ribbon(#333,#555, $width )
		color: white
		margin: 0 auto -42px
		text-align: center
		left: inherit
		top: inherit
		padding-top: 4px
		font-size: 130%
		height: 36px
		position: relative
		z-index: 10

		&::after, &::before
			top: 36px
	h3
		color: $darkblue
		text-transform: normal

	#main #content.show
		width: 70%
		margin: 0 auto
		h3
			text-align: center
			margin: 80px 0
			.dark, .light
				padding: 20px
				cursor: pointer
				border: 2px solid transparent
				&:hover
					text-decoration: underline
			.dark
				background: black
				color: white
			.light
				color: black
				background: white
			.selected
				border-color: $darkgrey
			input
				font-size: 100%
				width: 200px
				border: 2px solid $darkgrey
				background: white

		textarea
			width: 300px
			height: 80px
			resize: none
			overflow: hidden
			@include input
			border: 2px solid $darkgrey
			margin: 30px auto
			display: block
		.widget_box
			width: 400px
			margin: 50px auto
			&.dark
				display: none
		p
			text-align: center
		.info
			p
				text-align: left
		.menu
			a
				font-size: 80%

	#main #content.index
		padding: 60px 60px 120px
		%h3
			color: $darkgrey
		button
			font-size: 80%
			width: 300px
			padding: 4px 10px

		.dumb_table
			min-height: 400px
		table
			width: 100%
			font-size: 70%
			text-align: left
			border-spacing: 0px
			border-collapse: collapse

			thead tr th
				border-bottom: 2px solid $darkgrey
				padding: 0 10px
			tbody tr td
				padding: 10px
				vertical-align: top

			.url, .name
				width: 300px
			.pending
				width: 60px
			.dl
				font-size: 60%
	form
		width: 60%
		margin: 0 auto 80px
		padding: 10px

		.row, input
			margin: 10px 0
			width: 90%

		input, textarea
			@include input
			border: 1px $grey solid
			font-size: 20px
			resize: none
		input[type=radio], input[type=checkbox]
			width: auto
		a
			color: $darkgrey
			font-size: 14px

		button
			@include button($red,$darkred)
			font-size: 90%

		h3
			color: #333
			font-size: 90%
			strong
				font-size: 130%
		&.new_user
			button
				float: right
		&.new_account
			button
				@include button($blue,$darkblue)
				width: 90%
				font-size: 90%
				padding: 10px
		&.new_partner, &.edit_campaign, &.new_campaign
			button
				@include button($blue,$darkblue)
				width: 90%
				font-size: 90%
				padding: 10px
			.radio
				width: 85%
				label
					font-size: 90%
					&:hover
						text-decoration: underline
						cursor: pointer
				span
					font-size: 60%
					color: $blue
				&.oops
					color: $red
			.email_options
				.line
					margin: 0 0 0 90px
				.help
					margin-top: -36px
					margin-right: 120px
			input, .line
				transition-property: margin-left
				transition-duration: 0.8s

				&.off
					margin-left: 800px
				&.oops
					@include placeholder($red)
					border-color: $red

			.help
				transition-property: right
				transition-duration: 0.5s
				transition-delay: 0.1s

				position: absolute
				margin: -52px 0 0 0
				&, a
					font-size: 60%
					color: $blue
				right: -600px
				width: 290px
				&.on
					right: 0px
			.tos
				font-size: 60%
				width: 90%
				span:hover
					cursor: pointer
					text-decoration: underline
				a
					font-size: 100%
				&.oops
					color: $red
					border-bottom: 1px solid $red
			.extra
				position: absolute
				margin: -48px 0 0 16px
				font-size: 90%
				color: $darkgrey
			.count
				margin: -7px 50px 10px 0
				font-size: 60%
				float: right
				color: $darkgrey
				&.oops
					color: $red
			.notice
				margin: 40px 0
				width: 90%
				font-size: 70%
			.suggested
				margin: 40px 0
				font-size: 70%
				.help
					font-size: 80%
