@import "compass/css3"
@import "vars.sass"
@import "mixins.sass"
@import "fonts.sass"
@import "main.sass"

$height: 500px
$header: 56px

body.dark
	#main
		background: #333
		color: $grey
		#header
			color: $grey
			&:hover
				border-color: $darkred
				h1
					color: $red

		#content .tweet a
			color: $grey

	#main, #main #header	
		border-color: $darkgrey
	.tweet .body
		text-shadow: 0px 0px 2px #000
	

#main
	width: 300px
	overflow: hidden
	height: $height - 10px
	position: relative
	border: 1px solid $grey
	background: white
	border-radius: 4px


	&.light

	img, button, .tweet, div
		display: block

	#content
		height: $height - $header - 64px
		overflow-y: auto

		.tweet
			@include tweet
			h2
				padding-top: 16px
			.actions
				margin: 0 12px 10px


	#header
		height: $header
		border-bottom: 1px solid $grey
		color: #333
		font-size: 12px
		padding: 2px
		cursor: pointer
		border-radius: 4px

		border: 1px solid $grey

		&:hover
			opacity: 0.9
			border-color: $red
			h1
				color: $darkred

		a.logo img
			height: 40px
			padding-bottom: 4px
			float: left
		h1
			float: right
			margin-right: 20px

	#text-box
		position: relative
		z-index: 10
		cursor: pointer
		background: lightgray
		margin-top: -10px
		padding: 6px 0
		&:hover .inner
			text-decoration: underline
		.inner
			background: white
			color: $darkgrey
			margin: 4px
			border-radius: 4px
			padding: 10px

#attribute
	width: 300px
	height: 10px
	text-align: center
	font-size: 10px
	letter-spacing: 3px
	a
		color: $red